* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Original Surfer', cursive!important;
}

.block {
    line-height: 20px;
}

input {
    padding: 50px;
    margin: 10px 20px!important;
}

.my_blocks {
    padding: 54px 10px;
    text-align: center;
    background: rgb(255 255 255);
    color: rgb(0 0 0);
    font-size: 20px;
    margin: 20px 10px;
    box-sizing: border-box;
    box-shadow: 0px 43px 23px 6px #8080800f;
    border-bottom: 3px solid rgb(123 104 238);
}

.blur {
    color: rgb(255 255 255);
    padding: 10px;
    backdrop-filter: blur(2px);
    color: rgb(255 255 255);
    padding: 10px;
    padding: 120px 10px;
}

.bg {
    background-image: url(bg.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

img {
    width: 100%;
}

.content {
    display: none;
}

.startbtn {
    width: 50%;
    padding: 10px;
    background-color: rgb(255 255 255);
    color: rgb(0 0 0);
    font-size: 26px;
    border: 1px solid rgb(128 128 128 / 21%);
    padding: 10px;
    border-radius: 53px;
    box-shadow: 0px 9px 27px 4px #80808029;
}

.your_Answers,
.Right_Answers {
    padding: 10px;
    backdrop-filter: blur(11px);
    color: white;
}

section {
    padding: 10px;
}

span {
    color: rgb(0 0 0);
    font-size: 19px;
}

p {
    font-size: 22px;
    color: rgb(128 128 128);
}